@model List<FurnitureFun.Models.Furniture>

@{
    ViewBag.Title = "Welcome to FurnitureFun";
}

@if (TempData["message"] != null)                         
{  
    <p class="alert alert-success" >
        @TempData["message"]
    </p>

}                                     
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item item active">
            <img class="d-block w-100" src="~/Images/AdfulKitchen2000x1325.jpeg" alt="First slide">
          </div>
        <div class="carousel-item item ">
            <img class="d-block w-100" src="~/Images/adLargeLivingRoom2000x1325.jpeg" alt="Second slide">
        </div>
        <div class="carousel-item item ">
            <img class="d-block w-100" src="~/Images/adlargeBedroom2000x1325.jpeg" alt="Third slide">
        </div>
    </div>
   <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
        
    @foreach (var item in Model)
    {
        <div class="col-sm-3 shadowBox">
            <a href="/Home/Detail/@item.FurnitureId">  
                <h4> @item.Name </h4>
                <p> $@item.Price</p>
                <img src="~/Images/@item.ImageFileName" alt="@item.Name" class="img-responsive" />
            </a>

        </div>
    }
</div>
