@model FurnitureFun.Models.Order

@{
    ViewBag.Title = "Delete";
}

<h2>Order Complete</h2>

<h3>Please confirm you have completed this order?</h3>
<div>
    @Html.Partial("_ViewOrder", Model)
    


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
