@model IEnumerable<FurnitureFun.Models.Order>

@{
    ViewBag.Title = "Pending Orders";
}

<h2>Orders Pending Response</h2>
<p> Good morning administrator.  The following orders have been placed.  Please fulfill the order and then press "Completed" to clear it from the queue Also, you may delete the order from the database if you like. </p>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

@foreach (var item in Model)
{

    <div class="row shadowBox">
        @Html.Partial("_ViewOrder", item)
        @Html.ActionLink("Order Fulfilled", "Edit", new { id = item.OrderId, @class = "btn btn-warning" }) |
        @*@Html.ActionLink("Details", "Details", new { id = item.OrderId }) |*@
        @Html.ActionLink("Delete/Cancel Order", "Delete", new { id = item.OrderId, @class = "btn btn-warning" })
    </div>
}
        

